.sidebar {
  width: 250px;
  background: #2e3a59;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  font-weight: 500;
  display: block;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar ul li a:hover {
  background: #415a77;
}
